<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div align="center" id="aboutus" style="background-color: lightblue; margin-top: 20px;">
  <div align="center" style="">
    <img src="img/img-logo/aboutus.png" style="width: 250px; height: 100px; margin-top: 30px;">
  </div>
  <div class="tentangkami" style="width: 85%; font-size: 13px;">
    <br>
    <h6>2008</h6>
    <p style="text-align: center;">Pada Akhir 2008 BabyFirst dibentuk oleh Megawai awalnya mulai menjual aksesoris seperti Kalung, gelang, cincin dan anting dari bahan hama beads akrilik dan bulu untuk bayi.</p>
    <h6>2009</h6>
    <p style="text-align: center;">15 Januari 2009 , BabyFirst memulai penjualan secara online melalui social media Friendster, facebook, Twitter Berbekal database dari penjualan sebelumnya secara hand to hand.</p>
    <h6>2010</h6>
    <p style="text-align: center;">Akhir 2010 inilah menjadi awal BabyFirst mulai menjual sepatu bayi(awalnya reseller dari salah satu toko sepatu handmade di bandung),</p>
    <h6>2011-2013</h6>
    <p style="text-align: center;">Mulai menggali potensi para pengrajin Tas, sepatu dan konveksi bayi di Bandung, Mulai bekerja sama dengan kurang lebih 40 pengrajin sepatu dan tas di bandung, skala kecil ( rumahan )</p>
    <h6>2014-sekarang</h6>
    <p style="text-align: center;">Mencoba untuk menjual produk dari luar Indonesia yaitu stroller sebagai pelengkap perlengkapan bayi</p>
    <br>
    <br>
  </div>
</div>
<div align="center" id="customercare" style="background-color: #e1f7d5;">
  <div align="center" style="margin-top: 10px; padding-top: 30px;" >
    <img src="img/img-logo/baby-logo.png" style="width: 90px; height: 90px;"> 
  </div>
  
  <div class="tentangkami" style="width: 85%;">
    <h6>CUSTOMER SERVICE COVERAGE AREA (OUR AUTHORIZED SELLER)</h6>
    <b> Monday - Friday : 09.00 = 21.00 WIB</b>
    <br>
    <b>Saturday : 09:00 - 21.00 WIB</b>
    <br>
    <b>Sunday : OFF</b>
    <br>
    <br>
    <b>Area Galaksi Bimasakti (Include Bulan dan Matahari)</b>
    <br>
    <p>• SMS/Whatsapp : 08112384666</p>
    <br>
    <p>Customer Care</p>
    <br>
    <p>• SMS : 083822348738</p>
    <br>
    <p>• LINE : @adorableprojects</p>
  </div>
</div>
</body>
</html>